/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}

body {
    background-color: black;
}

a {
    text-decoration: none;
    color: inherit;
}

.item{
    width: 5em;
    display: inline-block;
    position: relative;
   }

/* HEADER */
header {
    width: 100%;
    height: 80px;
}

.container-nav {
    float: right;
    margin-top: 0.5em;
}

.view {
    background-color: #000000;
    color: white;
    padding: .3em .5em;
    border-radius: 5px;
    float: left;
}
.fullscreen {
    background-color: #4a4a4a;
    color: white;
    text-align: center;
    padding: .3em .5em;
    border-radius: 5px;
    margin-left: .5em;
    float: right;
}
/* MAIN */
main {
    width: 100%;
    height: calc(100vh - 180px);
    overflow: auto;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
}

.user {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 200px;
    height: 150px;
    background-image: url(https://picsum.photos/246/146);
    background-image: cover;
    margin: 0.5rem 0.2rem;
}

.username {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 0.8rem;
    background-color:rgba(128, 128, 128, .6); 
    color: white;
    padding: 0.2rem;
}
/* FOOTER */
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    width: 95%;
    margin: auto;
    background-color: #222222;
}

/* common footer*/



.icon {
    display: flex;
    width: 65px;
    flex-direction: column;
    align-self: center;
    align-items: center;
    color: white;
}

.icon i {
    font-size: 1.7em;
}

.icon p {
    width: 130px;
    font-size: small;
    display: flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: center;
}

.text {
    margin-top: 0.5em;
    font-size: 0.5em;
} 

/*  input-video-audio */
.input-video-audio {
    display: flex;
    width: 10%;
    height: 100%;
    justify-content: flex-start;
}

.angle {
    display: flex;
    align-items: center;
    color: white;
    margin-right: 1em;

}

/* button zoom */
.button-zoom {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
}

.green {
    color: #4bc800;
}

/* end meeting */
.close-meeting {
    display: flex;
    width: 7%;
    height: 100%;
    justify-content: flex-end;
    background-color: #4a4a4a;
}

.end-m {
    display: flex;
    align-self: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    color: red;
}


